.members-wrapper{
    a{
        text-decoration: none;
        color:#555555;
    }
    .members{
        height: 180px;
        text-align: center;
        margin:0;
        transition: all 0.2s;
        &:hover{
        box-shadow: 0 5px 10px black;
        transform: translate(0, -5px);
        }

        .card-body{
            h5{
                font-weight: bold;
                font-size: 20px;
                padding:30px 0 0 0 ;
            }
            p{
                padding: 0;
                font-size: 12px;
            }
        }
    }
}
