

//
// トップページ
//
.top-image {
    background: url('../images/top.jpg');
    height: 550px;
    background-size: cover;
    position: relative;
    h1 {
        position: absolute;
        width: 100%;
        text-align: center;
        color:white;
        font-weight: bold;
        top:210px;
        font-size: 78px;
    }
    p{
        position: absolute;
        width: 100%;
        text-align: center;
        color:rgba(255, 255, 255, 0.769);
        font-weight: bold;
        top:310px;
        font-size: 18px;
    }
}
.top-image::before{
/* 透過した黒を上から重ねるイメージ */
background-color: rgba(0,0,0,0.6);
/* 自由に位置指定 */
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
content: ' ';
}
// slides
.slides-wrapper{
    // padding: 0 35px;
    .iframe-wrapper{
        box-shadow: 1px 7px 7px 0 rgba(0,0,0,0.1);
        border-top: 8px solid darken( $brown, 10% );
        border-radius: 5px 5px 0 0;
    }
    .card{
        box-shadow: 0 10px 7px -7px rgba(0,0,0,0.1),
        7px 7px 7px -7px rgba(0,0,0,0.1);
        border-radius: 0 0 5px 5px;
        .col-md-8{
            padding-left: 10px;
        }
        .slides-text {
            p{
                margin: 0;
            }
            .card-body{
                margin-top:36px;
                padding:8px 15px 15px 0;
                h5{
                    font-size: 13px;
                    line-height: 20px;
                    font-weight: bold;
                    margin-bottom:0;
                    border-bottom: 1px solid  $brown;
                }
                p{
                    margin-top:5px;
                    font-size: 12px;
                }
                .card-text-wrapper{
                    margin-top:8px;
                    P{
                        border-radius: 5px;
                        padding:5px 10px;
                        background-color: lighten($brown, 50%);
                    }
                }
                .cardFooter{
                    height: 30px;
                    width: 100%;
                    margin-top:10px;
                    p{
                        line-height: 15px;
                        padding: 0;
                        margin:0;
                    }
                }
            }
        }
    }
}
